<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--namespace는 Mapper 인터페이스의 경로를 그대로 써준다. -->
<mapper namespace="com.example.demo.mapper.UserMapper">
	<insert id="insertUser">
		inser into s_user values(#{id}, #{name}, #{age}, #{regdate})
	</insert>
	<select id="getUserById">
		select * from s_user where id = #{id}
	</select>
	<delete id="deleteUserById">
		delete from s_user where id = #{id}
	</delete>	
</mapper>